# https://clang.llvm.org/docs/ClangFormatStyleOptions.html

Language: Cpp
Standard: c++11
BasedOnStyle: LLVM

# 缩进长度
IndentWidth: 4
TabWidth: 4
UseTab: Never

# 访问修饰符的额外缩进
AccessModifierOffset: -4

# 最大列宽
ColumnLimit: 120

# 指针（*）和引用（&）对齐样式
# [Left, Middle, Right]
PointerAlignment: Left

# 是否允许 switch 语句中短 case 语句同处一行
AllowShortCaseLabelsOnASingleLine: true

# 是否允许短函数的函数体与函数名同处一行
# [None, InlineOnly, Empty, Inline, All]
AllowShortFunctionsOnASingleLine: Empty

# 是否允许短 lambda 函数同处一行
# [None, Empty, Inline, All]
AllowShortLambdasOnASingleLine: Empty

# 是否允许短 if/else 语句同处一行
# [Never, WithoutElse, OnlyFirstIf, AllIfsAndElse]
AllowShortIfStatementsOnASingleLine: AllIfsAndElse

# 是否允许短循环语句同处一行
AllowShortLoopsOnASingleLine: true

# 是否允许短 while 代码块同处一行
# [Never, Empty, Always]
AllowShortBlocksOnASingleLine: Empty

# 是否允许短枚举类同处一行
AllowShortEnumsOnASingleLine: false

# 是否排序头文件
# [Never, CaseSensitive, CaseInsensitive]
SortIncludes: CaseSensitive

# 行末注释对齐方式
# [Leave, Always, Never]
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1

# 模板参数定义后换行
# [Leave, No, MultiLine, Yes]
AlwaysBreakTemplateDeclarations: Yes
